body {
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
   font-size: 18px;
   border-bottom: 1px solid;
}

.item {
   padding: 5px 5px 5px 5px;
}

.item:hover, .title:hover, .description:hover {
  background-color: rgb(234, 234, 234);
}

.title {
   font-weight: bold;
}

.description {
   color: rgb(128, 128, 128);
}

a {
  color: #0099CC;
  text-decoration: none;
}

.error {
  color: #FF0000;
  font-weight: bold;
}